{% extends 'base/base.html' %}

{% block content %}
                                
                            
<h2>Solicitud de transferencia de expedientes</h2>
<br>
<br>
<br>
<h4>B&uacute;squeda de solicitudes</h4>
<form id = "busquedaSolicitudes">
	<div align = "center">
		<table style = "width:80%">
			<tr>
				<td>
					C&oacute;digo de la solicitud:
					<input type="text" class="input" id="bus_codigo"/>
					<br>
					<br>
					La fecha de
					<select class="select" id="fechabusq">
						<option>Registro</option>
						<option>Aprobacion</option>
						<option>Entrega</option>
						<option>Devolucion</option>
					</select>
					&nbsp; est&aacute; entre
					<input type="text" class="input" id="bus_fechaini"/>
					&nbsp; y &nbsp;
					<input type="text" class="input" id="bus_fechaini"/>
					<br>
					<br>
					Estado de la solicitud
					<select class="select" id="estadoSol">
						<option>[Estado]</option>
						<option>[Estado]</option>
					</select>
					<br>
					<br>
					Realizada por Empleado
					&nbsp;<input type="text" class="input" id="empleado"/>&nbsp;
					unidad &nbsp;
					<select class="select" id="unidad">
						<option>[unidad]</option>
						<option>[unidad]</option>
					</select>
				</td>
			</tr>	
		
		</table>
		<br>
		<input type="submit" class="btn" value="Buscar">
	</div>
</form>
<br>
<br>
<br>
<p class="h4">Solicitudes registradas</p>
<br>
<div align = "center">
	<!--Inicio tabla de busqueda-->
	<table class="table-light" style="width: 90%" id="search_tab">
	    <thead>
	      <tr>
		<th>Seleccionar</th> <th>C&oacute;digo solicitud</th> <th>Solicitante</th> <th>Unidad solicitante</th> <th>Motivo</th> <th>Cant. Expedientes</th> <th>Estado solicitud</th> <th>Acciones</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr> <td><input name="chk_row1" type="checkbox"></td> <td>000</td> <td>[Solicitante]</td> <td>[Unidad]</td> <td>[Motivo]</td> <td>000</td> <td>[Estado]</td> <td>[Acciones]</td>  </tr>
	    </tbody>
	</table>
	<!--fin tabla de busqueda-->
	<br>
	<br>
	<button class="btn">Crear nueva solicitud</button>
	<button class="btn">Enviar solicitudes seleccionadas</button>
</div>
<!---->
<!---->
<br>
<br>
<br>
<!---->
<!--Creacion de nueva solicitud-->
<div align = "center" id="datosSolicitud" style="width:100%">
	<form id="datosSolicitud">
	<p class="h4">Detalles de solicutid de transferencia</p>
	<br>
	<b>Solicitante: </b>
	<input type="text" class="input" id="solicitante"/>
	<b>Unidad Solicitante: </b>
	<select class="select" id="unidad">
		<option>Hamburger 1</option>
		<option>Hamburger 2</option>
		<option>Hamburger 3</option>
		<option>Hamburger 4</option>
	</select>
	<br>
	<br>
	<b>Motivo de la solicitud: </b>
	<br>
	<textarea class="textarea" id="motivo" ></textarea>
	<br>
	<br>
	<p class="h4">Expedientes incluidos en la solicitud</p>
	<!--Inicio tabla de expedientes en solicitud-->
	<table class="table-light" style="width: 90%" id="sol_exp">
	    <thead>
	      <tr>
		<th>Seleccionar</th> <th>C&oacute;digo</th> <th>Nombre</th> <th>Fechas extremas</th> <th>Prestamo autorizado</th> <th>Acciones</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr> <td><input name="chk_row1" type="checkbox"></td> <td>000</td> <td>[Nombre Expediente]</td> <td>[Fechas]</td> <td>[Autorizacion]</td> <td>000</td> <td>[Estado]</td> <td>[Acciones]</td>  </tr>
	    </tbody>
	</table>
	<!--fin tabla de expedientes en solicitud-->
	</form>
	<br>
	<br>
	<button class="btn" id="agregarExp">Crear nueva solicitud</button>
</div>
<br>
<br>
<h4>B&uacute;squeda de expedientes</h4>
<form id = "busquedaExpedientes">
	<div align = "center">
		<table style = "width:80%">
			<tr>
				<td>
					C&oacute;digo del expediente:
					<input type="text" class="input" id="bus_codigo"/>
					<br>
					<br>
					La fecha de
					<select class="select" id="fechabusq">
						<option>Registro</option>
						<option>Aprobacion</option>
						<option>Entrega</option>
						<option>Devolucion</option>
					</select>
					&nbsp; est&aacute; entre
					<input type="text" class="input" id="bus_fechaini"/>
					&nbsp; y &nbsp;
					<input type="text" class="input" id="bus_fechaini"/>
					<br>
					<br>
					Estado del expediente
					<select class="select" id="estadoExp">
						<option>[Estado]</option>
						<option>[Estado]</option>
					</select>
					<br>
					<br>
					Transferido por Empleado
					&nbsp;<input type="text" class="input" id="empleado"/>&nbsp;
					unidad &nbsp;
					<select class="select" id="unidad">
						<option>[unidad]</option>
						<option>[unidad]</option>
					</select>
				</td>
			</tr>	
		
		</table>
		<br>
		<input type="submit" class="btn" value="Buscar">
	</div>
</form>
<!--Inicio tabla de expedientes en solicitud-->
	<br>
	<br>
	<p class="h4">Expedientes incluidos en la solicitud</p>
	<table class="table-light" style="width: 90%" id="sol_exp">
	    <thead>
	      <tr>
		<th>Seleccionar</th> <th>C&oacute;digo</th> <th>Nombre</th> <th>Fechas extremas</th> <th>Prestamo autorizado</th> <th>Acciones</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr> <td><input name="chk_row1" type="checkbox"></td> <td>000</td> <td>[Nombre Expediente]</td> <td>[Fechas]</td> <td>[Autorizacion]</td> <td>000</td> <td>[Estado]</td> <td>[Acciones]</td>  </tr>
	    </tbody>
	</table>
	<!--fin tabla de expedientes en solicitud-->
<br>
<br>
<button class="btn">Agregar expedientes seleccionados</button>
<br>
<br>
<p class="h4">Detalles del expediente seleccionado</p>
<br>
<div align="center" style="width:100%" id="detalleExp">
	<b>Nombre del expediente:</b>&nbsp;[Nombre]
	<br>
	<b>Serie:</b>&nbsp;[Serie]
	<br>
	<b>Subserie:</b>&nbsp;[Subserie]
	<br>
	<b>Detalles del expediente:</b>&nbsp;[Detalles]
	<br>
	<p><b>Fechas Extremas</b>
	<br>
	<b>inicio: </b>&nbsp;[FechaIni] &nbsp;[FechaFin]
	</p>
	<b>Descripci&oacute;n:</b>&nbsp;[Descripcion]
	<br>
	<br>
	<button class="btn">Ocultar</button>
</div>
<br>
<br>
<div align="center" style="width:100%" id="botones">
	<button class="btn">Guardar la solicitud</button>
<button class="btn">Guardar y enviar la solicitud</button>
<button class="btn">Enviar la solicitud</button>
<button class="btn">Limpiar</button>
</div>
{% endblock content %}
